@use './variables';

// * {
//   outline: 1px solid #19ff04;
//   background-color: #b1ddad;
// }

html {
  font-size: 10px;
  font-size: 62.5%;
  // scrollbar-color: variables.$main300 variables.$secondary50;
  scrollbar-width: thin;
  margin-top: 0 !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  // background-color: variables.$secondary50;
}

::-webkit-scrollbar-thumb {
  // background: variables.$main300;
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vw;
  padding: 15px;
  color: variables.$navyBlue;
  font-family: 'Roboto Flex';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 20px;

  @include variables.media-up(lg){
    padding: 30px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

p{
  color: variables.$navyBlue;
  font-family: 'Roboto Flex';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 20px;
}

main p a{
  color: variables.$navyBlue50;
  font-family: 'Roboto Flex';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
  line-height: 150%;
}

main ul{
  margin-bottom: 20px;
  
  li{
    color: variables.$navyBlue;
    font-family: 'Roboto Flex';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 10px;
    position: relative;
    padding-left: 17px;

    &:before{
      position: absolute;
      content: '';
      top: 11px;
      left: 0;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: variables.$navyBlue;
    }
  }
}

.wp-block-code{
  padding: 20px;
  @include variables.media-up(xl){
    margin-right: -50px;
    margin-left: -50px;
  }
}

h2{
  &.wp-block-heading{
    color: variables.$navyBlue;
    font-family: "Roboto Flex";
    font-size: 29px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    margin-top: 40px;
    margin-bottom: 13px;
  }
}

h3{
  &.wp-block-heading{
    color: variables.$navyBlue;
    font-family: "Roboto Flex";
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    margin-top: 40px;
    margin-bottom: 13px;
  }
}

.main{
  padding-top: 40px;
    
  @include variables.media-up(xl){
    padding-top: 105px;
  }
}

.container{
  display: block;
  margin: 0 auto;
  
  @include variables.media-up(xl){
    width: 970px;
  }

  &--wider{
    width: 100%;
    @include variables.media-up(xl){
      width: 1266px;
    }
  }

  &--narrower{
    width: 90%;
    @include variables.media-up(lg){
      width: 800px;
    }
    @include variables.media-up(xl){
      width: 680px;
    }
  }

  &--header{
    display: flex;
    flex-direction: column;  
  }

  &--title{
    @include variables.media-down(xl){
      margin: 40px 20px 0;
    }
    
    flex-grow: 1;
  }
}

.footer{
  display: block;
  margin: 0 auto;
  border-top: 1px solid variables.$navyBlueLight2;
  padding-top: 40px;

  @include variables.media-up(xl){
    width: 970px;
  }

  &__text{
    text-align: center;

    span{
      white-space: nowrap;
    }
  }
}