@use './variables';

// * {
//   outline: 1px solid #19ff04;
//   background-color: #b1ddad;
// }

html {
  font-size: 10px;
  font-size: 62.5%;
  // scrollbar-color: variables.$main300 variables.$secondary50;
  scrollbar-width: thin;
  margin-top: 0 !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  // background-color: variables.$secondary50;
}

::-webkit-scrollbar-thumb {
  // background: variables.$main300;
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vw;
  padding: 15px;

  @include variables.media-up(lg){
    padding: 30px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container{
  display: block;
  margin: 0 auto;
  
  @include variables.media-up(xl){
    max-width: 970px;
  }

  &--wider{
    @include variables.media-up(xl){
      max-width: 1266px;
    }
  }
}