@use '../../src/sass/variables' as variables;

.dropdown-checkboxes{
    &__select{
        display: none;
    }

    &__heading{
        font-family: "Roboto Flex", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%;
        text-transform: uppercase;
        margin: 12px 6px 6px;
        display: inline-block;
    }

    &__active-wrapper{
        position: relative;
        background-color: variables.$lightBlue;
        border-radius: 6px;

        &:after{
            content: '';
                position: absolute;
                background-position: center;
                background-repeat: no-repeat;
                display:inline-block;
                width: 12px;
                height: 12px;
                border: 0;
                border-bottom: 2px solid variables.$navyBlue;
                border-right: 2px solid variables.$navyBlue;
                transform: rotateZ(45deg);
                top: calc(50% - 8px);
                right: 12px;
        }

        .dropdown-checkboxes__checkbox{
            display: flex;
            gap: 10px;
            font-family: 'Roboto Flex', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            cursor: pointer;
                
            &-input{
                appearance: none;
                
                margin: 0;
                background-color: variables.$lightBlue;
                font: inherit;
                color: variables.$black;
                width: 20px;
                height: 20px;
                border: 2px solid variables.$navyBlue;
                border-radius: 6px;
                transform: translateY(-0.075em);
                display: grid;
                place-content: center;

                &:before {
                    content: "";
                    width: 5px;
                    height: 9px;
                    transform: scale(0) rotateZ(45deg);
                    transition: 120ms transform ease-in-out;
                    // box-shadow: inset 1em 1em variables.$navyBlue;
                    border-right: 2px solid variables.$navyBlue;
                    border-bottom: 2px solid variables.$navyBlue;
                }

                &:checked{
                    &:before {
                        transform: scale(1) translateX(0.7px) rotateZ(45deg);
                    }
                }
            }
            &-checkmark{}
        }
    }

    &__active-list{
        width: calc(100% - 33px);
        display: flex;
        flex-wrap: wrap;
        
        padding: 6px 34px 6px 6px;
        overflow: hidden;
        gap: 6px;

        &-item{
            background-color: variables.$navyBlue;
            font-family: "Roboto Flex", sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 800;
            line-height: 120%;
            text-transform: uppercase;
            padding: 10px 23px 8px 12px;
            display: inline-block;
            color: variables.$lightBlue;
            border-radius: 6px;
            position: relative;
            transition: all 0.2s ease;

            &:hover{
                background-color: variables.$navyBlueLight2;
                color: variables.$navyBlue;
                cursor: pointer;
                transition: all 0.2s ease;

                &:after{
                    background-image: url('data:image/svg+xml,<svg viewPort="0 0 11 11" version="1.1" xmlns="http://www.w3.org/2000/svg"><line x1="1" y1="11" x2="11" y2="1" stroke="black" stroke-width="2"/><line x1="1" y1="1" x2="11" y2="11" stroke="black" stroke-width="2"/></svg>');
                }
            }

            &:after{
                content: '';
                position: absolute;
                background-image: url('data:image/svg+xml,<svg viewPort="0 0 11 11" version="1.1" xmlns="http://www.w3.org/2000/svg"><line x1="1" y1="11" x2="11" y2="1" stroke="white" stroke-width="2"/><line x1="1" y1="1" x2="11" y2="11" stroke="white" stroke-width="2"/></svg>');
                background-position: center;
                background-repeat: no-repeat;
                display:inline-block;
                width: 12px;
                height: 12px;
                transform: scale(80%);
                top: 9px;
                right: 8px;
            }
        }
    }
}