@use '../../src/sass/variables' as variables;
@import './all-at-once.scss';
@import './dropdown-checkboxes.scss';

.portfolio-experience {
    padding: 100px 0;

    .filters-columns{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;

        &__filter{
            
        }
    }

}