@use '../../src/sass/variables' as variables;
@import './all-at-once.scss';
@import './dropdown-checkboxes.scss';

.portfolio-experience {
    padding: 100px 0;

    .filters-columns{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;

        &__filter{
            
        }
    }

    &__results-heading{
        display: inline-block;
        color: variables.$navyBlue;
        font-family: 'Roboto Flex';
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%;
        display: inline-block;
        margin: 30px 0;

    }

}