@use '../../variables';

.panel-1-container{
    border-bottom: 3px solid variables.$whiteAlpha20;

    @include variables.media-up(lg){
        border: none;
    }

    &__post{
        padding: 5px 15px;
        
        @include variables.media-up(lg){
            padding: 34px 54px;
        }
    }

    &__row-1{
        display: flex;
        column-gap: 29px;
        flex-direction: column;

        @include variables.media-up(lg){
            flex-direction: row;
        }

        .panel-1-container__col-1{
            max-width: 435px;
            display: flex;
            flex-wrap: wrap;
        }
        .panel-1-container__col-2{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20px;
            border: 6px solid variables.$whiteAlpha20;
            border-top-width: 32px;
            margin-top: 15px;
            padding: 8px 10px 5px 10px;
            position: relative;

            @include variables.media-up(lg){
                // flex-direction: row;
                margin-bottom: 0;
                border: none;
            }
        }
    }

    &__row-2{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-direction: column;
        
        .panel-1-container__col-1{
            display: none;

            @include variables.media-up(lg){
                display: inline-block;
                // max-width: 435px;
            }
        }
        .panel-1-container__col-2{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            @include variables.media-up(lg){
                align-items: flex-start;
            }
        }
    }

    &__back{
        position: relative;
        padding-left: 24px;

        @include variables.media-up(lg){
            display: none;
        }

        &:before{
            content: '';
            position: absolute;
            display: inline-block;
            width: 24px;
            height: 24px;
            background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 8.59L6 10L12 16L18 10L16.59 8.59L12 13.17L7.41 8.59Z" fill="white"/></svg>');
            background-position: center;
            background-repeat: no-repeat;
            top: -2px;
            left: 0;
            transform: rotateZ(90deg);
            transition: all 0.2s ease;
        }
    }

    &__image{
        display: none;

        @include variables.media-up(lg){
            height: 208px;
            overflow: hidden;
            border-radius: 8px;
            display: inline-block;
        }

        img{
            object-fit: cover;
        }
    }

    &__featured-post-heading{
        position: absolute;
        top: -26px;

        @include variables.media-up(lg){
            display: none;
        }
    }

    &__post-meta{
        display: flex;
        margin-bottom: 14px;
        margin-top: 9px;

        @include variables.media-up(lg){
            margin-top: 0;
        }
    }

    &__post-categories{
        display: flex;
        background-color: variables.$lightBlue;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        overflow: hidden;

        .panel-1-container__post-category{
            color: variables.$navyBlue;

            &-link{
                display: none;
                @include variables.media-up(lg){
                    font-family: 'Roboto Flex', sans-serif;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 120%;
                    text-transform: uppercase;
                    padding: 10px 12px 8px 12px;
                    display: inline-block;    
                }
            }
        }
    }

    &__post-date{
        background-color: variables.$whiteAlpha20;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
        padding: 10px 12px 8px 10px;
        display: inline-block;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 12px */
        text-transform: uppercase;
        // margin-left: -10px;
    }

    &__post-title{
        text-align: left;

        &-text{
            color: variables.$white;
            font-family: 'Roboto Flex', sans-serif;
            text-align: left;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            font-weight: 700;

            @include variables.media-up(lg){
                font-size: 29px;
            }
        }
    }

    &__post-button{
        margin: 10px 0 8px auto;

        @include variables.media-up(lg){
            margin: 27px 0 0 auto;
        }
    }

    &__featured-categories-title{
        text-align: left;
        margin: 11px 0 12px 0;
        color: variables.$white;
        font-family: 'Roboto Flex';
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 0.36px;
    }

    &__featured-categories-list{
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 16px;

        .panel-1-container__featured-category{
            color: variables.$navyBlue;
            background-color: variables.$lightBlue;
            border-radius: 6px;
            overflow: hidden;
            transition: all 0.2s ease;

            &:hover{
                color: variables.$lightBlue;
                background-color: variables.$navyBlue;
                transition: all 0.2s ease;
            }

            &-link{
                font-family: 'Roboto Flex', sans-serif;
                font-size: 10px;
                font-style: normal;
                font-weight: 800;
                line-height: 120%; /* 12px */
                text-transform: uppercase;
                padding: 10px 12px 8px 12px;
                display: inline-block;
                white-space: nowrap;
            }
        }
    }

    &__link{
        color: variables.$white;
        font-family: 'Roboto Flex';
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 0.36px;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        padding-right: 25px;

        @include variables.media-up(lg){
            margin-top: 42px;
        }

        &:after{
            content: '';
            position: absolute;
            display: inline-block;
            width: 24px;
            height: 24px;
            background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 8.59L6 10L12 16L18 10L16.59 8.59L12 13.17L7.41 8.59Z" fill="white"/></svg>');
            background-position: center;
            background-repeat: no-repeat;
            top: 2px;
            right: 0px;
            transform: rotateZ(-90deg);
            transition: all 0.2s ease;
        }
    }
}