@use '../variables';

.button{
    padding: 9px 31.5px 10px;
    display: inline-block;
    border-radius: 8px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 15px;
    height: 36px;
    text-align: center;
    color: variables.$white;
    transition: all 0.2s ease;
    font-weight: 600;
    background-color: variables.$navyBlue;

    &:hover{
        transition: all 0.2s ease;
        background-color: variables.$lightBlue;
        color: variables.$white;
    }

    &--smaller{
        padding: 10px 23.5px;
    }

    &--transparent-light{
        background-color: variables.$whiteAlpha10;
        
        &:hover{
            background-color: variables.$whiteAlpha20; 
        }
    }

    &--light-blue{
        background-color: variables.$lightBlue;
        color: variables.$navyBlue;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 18px */
        text-transform: uppercase;
        

        &:hover{
            background-color: variables.$navyBlue;
            color: variables.$lightBlue;
        }
    }
}