@use '../variables';

.button{
    padding: 8px 20.5px 11px;
    display: inline-block;
    border-radius: 8px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 15px;
    height: 36px;
    text-align: center;
    color: variables.$white;
    transition: all 0.2s ease;

    &:hover{
        transition: all 0.2s ease;
    }

    &--transparent-light{
        background-color: variables.$whiteAlpha10;
        
        &:hover{
            background-color: variables.$whiteAlpha20; 
        }
    }
    &--light-blue{
        background-color: variables.$lightBlue;
        color: variables.$navyBlue;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 18px */
        text-transform: uppercase;
        border: 2px solid variables.$transparent;
        

        &:hover{
            background-color: variables.$white;
            border: 2px solid variables.$navyBlue;
        }
    }
}