@use '../variables';

.covering-layer{
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: variables.$navyBlue50;
    visibility: hidden;
    opacity: 0;
}