@use '../variables';

.header{
    background-color: variables.$navyBlue;
    border-radius: 10px;
    min-height: 470px;
    padding: 0;
    display: flex;

    @include variables.media-up(lg){
        min-height: 554px;
        padding: 20px;
        align-items: stretch;
    }

    @include variables.media-up(xxl){
        padding: 38px 0;
    }

    .conatiner--header{
        flex-grow: 1;
        margin: 0 20px;width: 100%;
    }
    
    .container--title{
        display: flex;
        align-items: center;
    }

    &__post-meta{
        display: flex;
        margin-bottom: 22px;
        margin-top: 9px;
        flex-direction: column-reverse;

        @include variables.media-up(md){
            flex-direction: row;
            margin-top: 0;
            flex-direction: row;
        }
    }

    &__post-categories{
        display: flex;
        background-color: variables.$navyBlue;
        

        @include variables.media-up(md){
            // padding: 3px 10px 3px 0;
            border-right: 1px solid variables.$white; 
            border: 1px solid variables.$white;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            overflow: hidden;
        }

        .header__post-category{
            &-link{
                font-family: 'Roboto Flex', sans-serif;
                font-size: 14px;
                font-style: normal;
                color: variables.$white;
                font-weight: 800;
                line-height: 120%;
                text-transform: uppercase;
                display: inline-block;
                transition: all 0.3s ease;
                text-decoration: underline;

                @include variables.media-up(md){
                    text-decoration: none;
                    padding: 10px 12px 8px 12px;
                    font-size: 13px;
                }

                &:hover{
                    background-color: variables.$navyBlueLight2;
                    color: variables.$navyBlue;
                    transition: all 0.3s ease;
                }
            }
        }
    }

    &__post-date{
        color: variables.$white;
        display: inline-block;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 12px */
        text-transform: uppercase;
        padding: 0 0 10px 0;
        display: flex;
        align-items: center;

        @include variables.media-up(md){
            padding: 3px 0 3px 10px;
            background-color: variables.$white;
            color: variables.$navyBlue;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            overflow: hidden;
            padding: 10px 12px 8px 10px;
            
        }
        
    }

    &__page-title{
        font-size: 32px;
        line-height: 135%;
        color:variables.$white;
        font-family: 'Roboto Flex', sans-serif;
        font-style: normal;
        font-weight: 800;
        letter-spacing: -1.68px;
        z-index: 5;
        position: relative;
        margin-bottom: 10px;

        @include variables.media-up(md){
            font-size: 36px;
            line-height: 135%;
        }

        @include variables.media-up(xl){
            font-size: 42px;
            line-height: 135%;
        }
        
        @include variables.media-up(xxl){
            font-size: 56px;
            line-height: 115%;
        }
    }

    &__excerpt{
        color: variables.$white;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-top: 20px;

        @include variables.media-up(lg){
            font-size: 24px;
        }
    }
}