@use '../variables';

.header{
    background-color: variables.$navyBlue;
    border-radius: 10px;
    min-height: 554px;
    padding: 38px 0;

    &__page-title{
        color:variables.$white;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 800;
        line-height: 115%;
        letter-spacing: -1.68px;
        z-index: 5;
        position: relative;
    }
}