@use '../variables';

.header{
    background-color: variables.$navyBlue;
    border-radius: 10px;
    padding: 38px 0;
    min-height: 554px;

    &__page-title{
        color:variables.$white;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 800;
        line-height: 115%; /* 64.4px */
        letter-spacing: -1.68px;
    }
}