@use '../variables';

.main-nav{
    &__list{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &-item{
            font-family: 'Roboto Flex', sans-serif;
            font-size: 18px;
            text-align: center;
            color: variables.$white;
            
            &--left{
                margin-left: 0;
                margin-right: auto;
            }

            &--right{
                margin-right: 0;
                margin-left: auto;
            }

            &.main-nav__basic-link{
                transition: all 0.2s ease;
                border-radius: 6px;

                a{
                    display: inline-block;
                    padding: 14px 26px 14px 26px;
                }

                &:hover{
                    background-color: variables.$whiteAlpha10;
                    transition: all 0.2s ease;
                } 
            }

            &.main-nav__has-children{
                transition: all 0.2s ease;
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;

                &:hover{
                    background-color: variables.$navyBlueLight;
                    border-top-right-radius: 6px;
                    border-top-left-radius: 6px;
                    transition: all 0.5s ease;

                        span{
                            cursor: pointer;
                            
                            &:after{
                                transform: rotateZ(180deg);
                                transition: all 0.2s ease;
                            }
                        }
                }

                & > span{
                    display: inline-block;
                    padding: 14px 45px 14px 26px;
                    position: relative;

                    &:after{
                        content: '';
                        position: absolute;
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 8.59L6 10L12 16L18 10L16.59 8.59L12 13.17L7.41 8.59Z" fill="white"/></svg>');
                        background-position: center;
                        background-repeat: no-repeat;
                        top: 13px;
                        right: 21px;
                        transform: rotateZ(0);
                        transition: all 0.2s ease;
                    }
                }

                &:hover,&.active{
                    z-index: 20;
                }
            }

            &.main-nav__mega-menu-panel-1{
                &:hover, &.active{
                    .panel-1-container{
                        opacity: 1;
                        visibility: visible;
                    }
                }

                .panel-1-container{
                    background-color: variables.$navyBlueLight;
                    position: absolute;
                    z-index: 20;
                    left: -54px;
                    right: -54px;
                    width: calc(100% + 108px);
                    opacity: 0;
                    visibility: hidden;
                    border-radius: 10px;
                }
            }
        }
    }
}