@use '../variables';

.main-nav{
    min-height: 30px;

    &.active{
        .mobile-expandable{
            max-height: 300px;
            transition: all 0.4s ease;
        }
    }

    &__list{
        width: calc(100% - 30px);
        display: flex;
        justify-content: center;
        align-items: center;
        // position: relative;
        flex-wrap: wrap;
        position: absolute;
        background-color: variables.$navyBlue;
        z-index: 8;

        @include variables.media-up(lg){
            position: static;
        }

        &-item{
            font-family: 'Roboto Flex', sans-serif;
            font-size: 18px;
            text-align: center;
            color: variables.$white;
            
            &--left{
                margin-left: 0;
                margin-right: auto;
            }

            &--right{
                margin-right: 0;
                margin-left: auto;
            }

            &.mobile-expandable{
                @include variables.media-down(lg){
                    width: 100%;
                    max-height: 0;
                    overflow: hidden;
                    transition: all 0.4s ease;
                }
            }

            &.main-nav__image{
                @include variables.media-down(lg){
                    margin-left: 20px;
                    line-height: 0;
                }
            }

            &.main-nav__basic-link{
                transition: all 0.2s ease;
                border-radius: 6px;

                a{
                    display: inline-block;
                    padding: 14px 26px 14px 26px;
                }

                &:hover{
                    background-color: variables.$whiteAlpha10;
                    transition: all 0.2s ease;
                } 
            }

            &.main-nav__has-children{
                transition: all 0.2s ease;
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;

                &:hover{
                    background-color: variables.$navyBlueLight;
                    border-top-right-radius: 6px;
                    border-top-left-radius: 6px;
                    transition: all 0.5s ease;

                        span{
                            cursor: pointer;
                            
                            &:after{
                                transform: rotateZ(180deg);
                                transition: all 0.2s ease;
                            }
                        }
                }

                & > span{
                    display: inline-block;
                    padding: 14px 45px 14px 26px;
                    position: relative;

                    &:after{
                        content: '';
                        position: absolute;
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 8.59L6 10L12 16L18 10L16.59 8.59L12 13.17L7.41 8.59Z" fill="white"/></svg>');
                        background-position: center;
                        background-repeat: no-repeat;
                        top: 13px;
                        right: 21px;
                        transform: rotateZ(0);
                        transition: all 0.2s ease;
                    }
                }

                &:hover,&.active{
                    z-index: 20;
                }
            }

            &.main-nav__mega-menu-panel-1{
                &:hover, &.active{
                    .panel-1-container{
                        opacity: 1;
                        visibility: visible;
                    }
                }

                .panel-1-container{
                    background-color: variables.$navyBlueLight;
                    position: absolute;
                    z-index: 20;
                    left: -54px;
                    right: -54px;
                    width: calc(100% + 108px);
                    opacity: 0;
                    visibility: hidden;
                    border-radius: 10px;
                }
            }

            &.main-nav__button{
                @include variables.media-down(lg){
                    width: 100%;
                    margin: 15px 0;
                }
            }

            &.main-nav__hamburger{
                position: relative;
                width: 30px;
                height: 30px;
                cursor: pointer;

                @include variables.media-down(lg){
                    margin-right: 20px;
                }

                &.active{
                    span{
                        transition: all 0.2s ease;

                        &:nth-of-type(1){
                            opacity: 0;
                            visibility: hidden;
                        }
                        &:nth-of-type(2){
                            transform: rotateZ(45deg);
                        }
                        &:nth-of-type(3){
                            transform: rotateZ(-45deg);
                        }
                        &:nth-of-type(4){
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }

                span{
                    position: absolute;
                    background-color: variables.$white;
                    display: inline-block;
                    width: 30px;
                    height: 2px;
                    border-radius: 3px;
                    left: 0;
                    transition: all 0.2s ease;

                    &:nth-of-type(1){
                        top: 5px;
                        visibility: visible;
                    }
                    &:nth-of-type(2){
                        top: 14px;
                        transform-origin: center;
                        transform: rotateZ(0);
                    }
                    &:nth-of-type(3){
                        top: 14px;
                        transform-origin: center;
                        transform: rotateZ(0);
                    }
                    &:nth-of-type(4){
                        top: 23px;
                        visibility: visible;
                    }
                }

            }
        }
    }
}