@use '../variables';

.main-nav{
    &__list{
        width: 100%;
        display: flex;
        justify-content: center;

        &-item{
            font-family: 'Roboto Flex', sans-serif;
            font-size: 15px;
            text-align: center;
            color: variables.$white;
            
            &--left{
                margin-left: 0;
                margin-right: auto;
            }
            &--right{
                margin-right: 0;
                margin-left: auto;
            }

            &.main-nav__basic-link{
                transition: all 0.2s ease;
                border-radius: 6px;

                a{
                   display: inline-block;
                    padding: 14px 26px 14px 26px; 
                }

                &:hover{
                    background-color: variables.$whiteAlpha10;
                    transition: all 0.2s ease;
                } 
            }

            // &.has-children{
            //     a{
            //        padding: 14px 45px 14px 26px;

            //         &:hover{
            //             background-color: variables.$whiteAlpha10;
            //             transition: all 0.2s ease;
            //         } 
            //     }
            // }
        }
    }
}